.container {
  display: flex;
  background-color: #ddd;
  justify-content: center;
}

.center {
  column-count: 3;
  width: 70%;
}


@media (max-width: 700px) {
  .center {
    column-count: 1;
    width: 90%;
   }
}